webapp-portal-decorator web.xml placeholder needed here because maven, copypaste this to real web.xml:

<filter>
    <filter-name>springSecurityFilterChain</filter-name>
    <filter-class>org.springframework.web.filter.DelegatingFilterProxy</filter-class>
</filter>
<filter-mapping>
<filter-name>springSecurityFilterChain</filter-name>
<url-pattern>/*</url-pattern>
</filter-mapping>
<filter>
<filter-name>sitemesh</filter-name>
<filter-class>org.sitemesh.config.ConfigurableSiteMeshFilter</filter-class>
</filter>
<filter-mapping>
<filter-name>sitemesh</filter-name>
<url-pattern>/koodistoapp/*</url-pattern>
</filter-mapping>

        <!-- standalone navigation -->
<servlet>
<servlet-name>htmltemplate</servlet-name>
<servlet-class>fi.vm.sade.generic.ui.LoadHtmlTemplateServlet</servlet-class>
</servlet>
<servlet-mapping>
<servlet-name>htmltemplate</servlet-name>
<url-pattern>/htmltemplate</url-pattern>
</servlet-mapping>
